# Jupyter Shortcuts

In [ ]:
# select the cell
# dd to delete the cell
# a to add cell above the selected cell
# b to add cell below the selected cell
# m to make markup
# shift+m  to select 2 cells and merge
# crtl+shift + (-) split  selected cell into 2 ,from the place of the cursor

# Day 1 # Python Basic

# Data Types

In [24]:
a = 1             #int 
b = 10.99         #Float
c = "Hello"       #String
d = True          #Boolean

In [25]:
print(a)
print(b)
print(c)
print(d)

1
10.99
Hello
True

# Arithematic Operations

In [7]:
x = 50 
y = 10

In [11]:
print(x+y)      #Add
print(x-y)      #Sub
print(x*y)      #Multiply
print(x/y)      #division
print(x%y)      #modulus           gives remainder ans 
print(x**y)     #expo 
print(3//2)     #floor Div

60
40
500
5.0
0
97656250000000000
1

# Comparsion Operators

In [12]:
m = 5 
n = 3

In [13]:
print(m==n)        #compare if LHS = RHS
print(m<n)         #less than 
print(m<=n)        #less than or equal too 
print(m>n)         #greater than 
print(m>=n)        #greater than or equal too 
print(m!=n)        #check if not equal

False
False
False
True
True
True

# BitWise Operators

In [37]:
a = 10     # numeric value = 15
b = 4       # numeric value = 13

In [38]:
print(bin(a),type(a))
print(bin(b),type(b))

0b1010 <class 'int'>
0b100 <class 'int'>

In [39]:
print(a & b )         #Bitwise AND 
print(a | b)          #Bitwise OR 
print(a ^ b)          #Bitwise EX-OR
print(~a,~b)          #1's complement
print(a>>2,b<<2)      #RIGHT and LEFT shift

0
14
14
-11 -5
2 16

# List               (MUTABLE )

In [50]:
a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(a,type(a))

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango'] <class 'list'>

# List operations

In [51]:
a.append("grape")              #add element at end of list 
print(a)

print(a[1])                    #get element at index 1
print(a[-1])                   #get last element of list 
print(a[1:4])                  #get element from index 1 to 3    
print(a[::-1])                 #get reverse of list 
print(len(a))                  #get len of list

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grape']
banana
grape
['banana', 'cherry', 'orange']
['grape', 'mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']
8

In [1]:
a = [1 , 'asdf' , 'Hello world' , 40.4567]

In [3]:
a

[1, 'asdf', 'Hello world', 40.4567]

In [4]:
a.append('New Element added')

In [5]:
a

[1, 'asdf', 'Hello world', 40.4567, 'New Element added']

In [6]:
a[-1]

'New Element added'

In [7]:
a.pop()

'New Element added'

In [8]:
a

[1, 'asdf', 'Hello world', 40.4567]

# Insert  and Removing elements

In [55]:
a.insert(2,"Hello")        #insert at index 2 
print(a)
a[1] = "World"             #Change value at index 1
print(a)

['apple', 'World', 'Hello', 'cherry', 'orange', 'kiwi', 'melon', 'grape']
['apple', 'World', 'Hello', 'cherry', 'orange', 'kiwi', 'melon', 'grape']

In [57]:
a.remove("melon")         
print(a)
del a[2]
print(a)

a.pop()
print(a)

['apple', 'World', 'Hello', 'cherry', 'orange', 'kiwi', 'grape']
['apple', 'World', 'cherry', 'orange', 'kiwi', 'grape']
['apple', 'World', 'cherry', 'orange', 'kiwi']

# List adding

In [61]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

print(list1 + list2)
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

# Tuples      (IMMUTABLE)

In [62]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple,type(thistuple))

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango') <class 'tuple'>

# Same list operations but CANNOT ADD ITEMS IF ONCE DEFINED

# AND CANNOT CHANGE THE VALUES OF ELEMENTS IN TUPLE

# DICTIONARIES

In [64]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
thisdict["year"] = 2018                       #changing value of year 
thisdict["color"] = "red"                     #adding new key and its value 
print(thisdict,type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'} <class 'dict'>

# Looping in dictionaries

In [67]:
for x in thisdict:
  print(x)
print("\n")

for x in thisdict:
  print(thisdict[x])
print("\n")

for x in thisdict.values():
  print(x)
print("\n")

for x, y in thisdict.items():
  print(x, y)
print("\n")

brand
model
year
color


Ford
Mustang
2018
red


Ford
Mustang
2018
red


brand Ford
model Mustang
year 2018
color red

# Sets

In [9]:
a  = {'kiwi' ,'apple','orange'}

In [10]:
a

{'apple', 'kiwi', 'orange'}

In [11]:
a.add('Grapes')

In [12]:
a

{'Grapes', 'apple', 'kiwi', 'orange'}

In [13]:
a.update(['blueberry' , 'orange','mango'])

In [14]:
a

{'Grapes', 'apple', 'blueberry', 'kiwi', 'mango', 'orange'}

In [15]:
len(a)

6

In [16]:
a.remove('apple')

In [17]:
a

{'Grapes', 'blueberry', 'kiwi', 'mango', 'orange'}

In [18]:
a.pop()

'orange'

In [19]:
a

{'Grapes', 'blueberry', 'kiwi', 'mango'}

In [20]:
for x in a:
    print(x)

kiwi
Grapes
mango
blueberry

In [21]:
b = {'kiwi','Grapes','mango','strawberry'}

In [22]:
a , b

({'Grapes', 'blueberry', 'kiwi', 'mango'},
 {'Grapes', 'kiwi', 'mango', 'strawberry'})

In [23]:
a.union(b)

{'Grapes', 'blueberry', 'kiwi', 'mango', 'strawberry'}

In [24]:
a.intersection(b)

{'Grapes', 'kiwi', 'mango'}

In [25]:
a.symmetric_difference(b)

{'blueberry', 'strawberry'}

In [26]:
a.difference(b)

{'blueberry'}