In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

In [7]:
# to ignore warnings in the app
import warnings
warnings.filterwarnings("ignore")

# Series 

Create series

In [8]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
series1 = pd.Series(v)
series1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [9]:
#Datatype of Series
series1.dtype

dtype('int32')

In [10]:
# Shape of the Series
series1.shape

(7,)

In [11]:
# get the number of dimensions of the series 
series1.ndim

1

In [12]:
# get the len of series 
len(series1) , series1.count() , series1.size

(7, 7, 7)

In [13]:
# Create series from List with index vallue a,b,c and values at index as 1,2,3
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

a    1
b    2
c    3
dtype: int64

In [16]:
# Modifying index in Series
series1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
series1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [17]:
# Create Series using Random and Range function with limit 18  
random_series = np.random.random(18)
random_series_index2 = np.arange(0,18)
s = pd.Series(random_series,random_series_index2)
random_series,random_series_index2, s

(array([0.0918957 , 0.26297962, 0.27269274, 0.13502357, 0.41373554,
        0.7700123 , 0.4141924 , 0.86966365, 0.33648439, 0.50469139,
        0.99500052, 0.84421831, 0.69314501, 0.77312644, 0.54783636,
        0.40755707, 0.91397419, 0.962755  ]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17]),
 0     0.091896
 1     0.262980
 2     0.272693
 3     0.135024
 4     0.413736
 5     0.770012
 6     0.414192
 7     0.869664
 8     0.336484
 9     0.504691
 10    0.995001
 11    0.844218
 12    0.693145
 13    0.773126
 14    0.547836
 15    0.407557
 16    0.913974
 17    0.962755
 dtype: float64)

In [18]:
# Creating Series from Dictionary keys acts as index value and value of keys as value 
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40 , 'a5': 50 , 'a6':60}
s3 = pd.Series(dict1)
s3

a1    10
a2    20
a3    30
a4    40
a5    50
a6    60
dtype: int64

In [19]:
#creates a series with constant value 99 
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

# Slicing Series

In [20]:
# Using the above series 
s

0     0.091896
1     0.262980
2     0.272693
3     0.135024
4     0.413736
5     0.770012
6     0.414192
7     0.869664
8     0.336484
9     0.504691
10    0.995001
11    0.844218
12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
17    0.962755
dtype: float64

In [21]:
# returns all the series when limits not specified 
s[:]

0     0.091896
1     0.262980
2     0.272693
3     0.135024
4     0.413736
5     0.770012
6     0.414192
7     0.869664
8     0.336484
9     0.504691
10    0.995001
11    0.844218
12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
17    0.962755
dtype: float64

In [22]:
# returns series from starting index-value(in series = 5) till end
s[5:]

5     0.770012
6     0.414192
7     0.869664
8     0.336484
9     0.504691
10    0.995001
11    0.844218
12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
17    0.962755
dtype: float64

In [23]:
# returns series from starting index-value(in series = 0 ) till 3 (end range is exlcusive)
s[0:4]

0    0.091896
1    0.262980
2    0.272693
3    0.135024
dtype: float64

In [24]:
# same as above
s[:4]

0    0.091896
1    0.262980
2    0.272693
3    0.135024
dtype: float64

In [25]:
# returns last element in series 
s[-1:]

17    0.962755
dtype: float64

In [26]:
# returns last 6 element in series from (-6 to 0) 
s[-6:]

12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
17    0.962755
dtype: float64

In [27]:
# Return all elements of the series except last seven elements.
s[:-7]

0     0.091896
1     0.262980
2     0.272693
3     0.135024
4     0.413736
5     0.770012
6     0.414192
7     0.869664
8     0.336484
9     0.504691
10    0.995001
dtype: float64

In [28]:
# Return all elements of the series except last element.
s[:-1]

0     0.091896
1     0.262980
2     0.272693
3     0.135024
4     0.413736
5     0.770012
6     0.414192
7     0.869664
8     0.336484
9     0.504691
10    0.995001
11    0.844218
12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
dtype: float64

In [29]:
# return last 7 elements in series 
s[-7:]

11    0.844218
12    0.693145
13    0.773126
14    0.547836
15    0.407557
16    0.913974
17    0.962755
dtype: float64

# Operations in Series

In [30]:
# Create new series with the data of series 1 copy 
series2 = series1.copy()
series2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [31]:
s3

a1    10
a2    20
a3    30
a4    40
a5    50
a6    60
dtype: int64

In [32]:
# Appending the series2 in series1 and storing in series3 
series3 = series1.append(s3)
series3

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
a5    50
a6    60
dtype: int64

In [39]:
series1 , s3,series3

(a    1
 b    2
 c    3
 d    4
 e    5
 f    6
 g    7
 dtype: int32,
 a1    10
 a2    20
 a3    30
 a4    40
 a5    50
 a6    60
 dtype: int64,
 a      1
 b      2
 c      3
 d      4
 e      5
 f      6
 g      7
 a1    10
 a2    20
 a3    30
 a4    40
 a5    50
 a6    60
 dtype: int64)

In [41]:
# When "inplace=False" it will return a new copy of data with the operation performed dosen't reflect changes in original series
series3.drop('c', inplace=False)

a      1
b      2
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
a5    50
a6    60
dtype: int64

In [46]:
#Drop multiple
series3.drop(['a','f','a4','a6'], inplace = False)

b      2
c      3
d      4
e      5
g      7
a1    10
a2    20
a3    30
a5    50
dtype: int64

In [51]:
# append a new series in series3 , created from pd.Series 
series4 = series3.append(pd.Series({'a11':7}))
series4

a       1
b       2
c       3
d       4
e       5
f       6
g       7
a1     10
a2     20
a3     30
a4     40
a5     50
a6     60
a11     7
dtype: int64

# Operations on Series

In [52]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)
s1 , s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [56]:
# add 20 to whole series  , add series to series
s1.add(20) , s1.add(s2)

(0    30
 1    40
 2    50
 dtype: int32,
 0    11
 1    22
 2    33
 dtype: int32)

In [57]:
# Subtract 10 from whole s1 series , sub series from series
s1.sub(10) , s1.sub(s2)

(0     0
 1    10
 2    20
 dtype: int32,
 0     9
 1    18
 2    27
 dtype: int32)

In [59]:
#Multiply s1 with 11 , s1 with s2 
s1.mul(11) , s1.mul(s2)

(0    110
 1    220
 2    330
 dtype: int32,
 0    10
 1    40
 2    90
 dtype: int32)

In [60]:
#Division s1 by 5 , s1 by s2
s1.div(5)  , s1.div(s2)

(0    2.0
 1    4.0
 2    6.0
 dtype: float64,
 0    10.0
 1    10.0
 2    10.0
 dtype: float64)

In [67]:
# Find max in s1 , min in s1
s1.max()  , s1.min() , s2.max() , s2.min()

(30, 10, 3, 1)

In [66]:
#Average
s1.mean() , s2.mean()

(20.0, 2.0)

In [68]:
#Median
s1.median() , s2.median()

(20.0, 2.0)

In [71]:
#Standart Deviation
s1.std() , s2.std()

(10.0, 1.0)

In [72]:
#Equals 
s1.equals(s2)

False

In [76]:
s4 = s1 
s4.equals(s1)

True

In [77]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

0    1
1    1
2    2
3    2
4    3
5    3
dtype: int64

In [79]:
s5.value_counts()

3    2
2    2
1    2
dtype: int64