In [39]:
# To make a simple Multi linear Regression model to predict profits based on multiple features
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt

In [40]:
#Read  the csv file 
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [41]:
#sorting the state columns to get unique values 
sorted(df['State'].unique())

['California', 'Florida', 'New York']

In [42]:
# Feeding the features and the label column
X = df.iloc[:,:-1].values
Y = df.iloc[:,-1].values

In [43]:
# Column State also plays an important role , but is a categorical feature so we need to convert that into numerical
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

Assume
California - 1
Florida - 2
NY - 3

#There will be 3 new Columns For this Value and based on the Selected row's state the values will be decided 

Row    1    2    3
1      0    0    1 
2      1    0    0

In [44]:
le = LabelEncoder()

In [45]:
X[:,3] = le.fit_transform(X[:,3])

In [46]:
X[1:5,:]

array([[162597.7, 151377.59, 443898.53, 0],
       [153441.51, 101145.55, 407934.54, 1],
       [144372.41, 118671.85, 383199.62, 2],
       [142107.34, 91391.77, 366168.42, 1]], dtype=object)

In [48]:
ohe = OneHotEncoder()

In [49]:
X = ohe.fit_transform(X).toarray()

In [51]:
X[1]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.])

In [52]:
#import Package to make data for train and testing 
#Test_size 0.2 means 20% of whole data for testing , and random_state means wheather to randomize the data for training 
from sklearn.model_selection import train_test_split 
X_Train , X_Test, Y_Train , Y_Test = train_test_split(X,Y, test_size = 0.2 , random_state = 0 )

In [53]:
#import package for training the model
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [54]:
#First the model need to be fitted 
reg.fit(X_Train, Y_Train)

LinearRegression()

In [76]:
Y_pred = reg.predict(X_Test)

In [68]:
#Pops error because the data is splitted in to 2 parts test and train because of which length changes 
df['Y_Pred'] = Y_pred

ValueError: Length of values does not match length of index

In [78]:
pd.DataFrame(Y_Test,Y_pred)

                       0
110811.561194  103282.38
105687.093943  144259.40
110811.561194  146121.95
110811.561194   77798.83
110811.561194  191050.39
118460.990391  105008.31
118460.990391   81229.06
118460.990391   97483.56
110811.561194  110352.25
110811.561194  166187.94